body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

#home-btn:hover {
  transition-duration: 0.5s;
  filter: drop-shadow(1px 1px 10px hwb(0 17% 0%));
}

#welcome-sign {
  display: grid;
  justify-items: center;
  align-items: center;
  max-height: auto;
  max-width: 80%;
  object-fit: contain;
  margin-bottom: 100px;
  padding-bottom: 100px;
  transition: transform 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

#content{

    background-color: #b2b2b265;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

#content img {
  transition: transform 0.5s ease-in-out, max-width 0.5s ease-in-out;
}

#content img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

/* #imgRecap1:hover { filter: drop-shadow(1px 1px 10px hwb(209 11% 0%)); }
#imgRecap2:hover { filter: drop-shadow(1px 1px 10px #ff9d9d); }
#imgRecap3:hover { filter: drop-shadow(1px 1px 10px #ff409c); }
#imgRecap4:hover { filter: drop-shadow(1px 1px 10px #fff30f); }
#imgRecap5:hover { filter: drop-shadow(1px 1px 10px #0fffc7); } */

#imgrecap1,#imgrecap2,#imgrecap3,#imgrecap4,#imgrecap5:hover{
  filter: drop-shadow(1px 1px 10px #000000);
}

@media (min-width: 414px) and (max-width: 780px) {
  #welcome-sign {
      max-width: 85%;
      margin-bottom: 20px;
  }

  #content {
      gap: 10px;
  }

  #content a img {
      max-width: 200px;
  }
}

@media (min-width: 414px) and (max-width: 500px) {
  #welcome-sign {
      max-width: 90%;
      margin-bottom: 20px;
      padding: 10px;
  }

  #content {
      display: block;
      gap: 15px;
  }

  #content a img {
      max-width: 200px;
  }
}

.caption {
  font-size: 0.9rem; /* Ukuran teks yang lebih kecil */
  word-wrap: break-word; /* Memastikan kata panjang akan dipotong */
  white-space: normal; /* Izinkan teks menyusun ke bawah */
  line-height: 1.4; /* Tambahkan jarak antar baris agar lebih mudah dibaca */
  padding: 0 10px; /* Tambahkan padding untuk menghindari teks menyentuh tepi layar */
  text-align: center; /* Teks rata tengah untuk tampilan lebih baik */
}